services:
  datingbot:
    build: .
    image: datingbot:${TAG}
    container_name: datingbot
    network_mode: host
    pull_policy: never
    env_file:
      - .env
  restarter:
    image: docker:cli
    volumes: ["/var/run/docker.sock:/var/run/docker.sock"]
    command:
      [
        "/bin/sh",
        "-c",
        "while true; do sleep 53200; docker restart datingbot; done",
      ]
    restart: unless-stopped
    network_mode: host

networks:
  default:
    external: true
    name: host
